@media only screen and (max-width: 600px) {   
    .container-input-request{
        width: 80%;
    }
    .timer-data{
        padding: 10px 140px!important;
    }
    .input-request-name{
        width: 55%
    }
    input[type="radio"]{
        margin: 1px
    }
    .btn-menu{
        text-align: center
    }
    th, td{
        margin: 1px;
        text-align: center;
        padding: 5px!important
    }
}
@media only screen and (max-width: 1600px) {  
    .timer-data{
        padding: 10px 205px;
    }
}